html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
}

.banner {
    height: 130px;
    background-color: #b94a48;
}

.content, .left {
    position: absolute;
    top: 130px;
    bottom: 0;
}

.content {
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

body.left-open .content {
    left: 300px;
}

.left {
    width: 300px;
}

.left .tab-content {
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.content .navbar {
    margin-bottom: 0;
}

.map {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    background-image: url(wavegrid.png);
}

.map .btn {
    position: absolute;
    z-index: 1000;
}
.btn.zoom-in {
    left: 15px;
    top: 15px;
}

.btn.zoom-out {
    left: 15px;
    top: 50px;
}

.btn.location {
    right: 15px;
    top: 15px;
}



.navbar-absolute-top, .navbar-absolute-bottom {
    position: absolute;
    right: 0;
    left: 0;
}

.navbar-absolute-top {
    top: 0;
}

.navbar-absolute-bottom {
    bottom: 0;
    margin-bottom: 0;
}
