html, body, .side-panel, .content, .map {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.content {
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

body.side-panel-open .content {
    left: 70%;
}

.side-panel {
    /* FIXME: max-width */
    position: absolute;
    width: 70%;
    overflow-y: scroll;
    box-shadow: inset -5px 0 20px black;
    background-color: #545454;
}
.side-panel .list-group {
    background-color: transparent;
    color: #b3b3b3;
}
.side-panel .list-group-item {
    border: 1px solid #4c4c4c;
}

.header, .footer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 0 8px 2px #aaa; */
}

.map {
    background-image: url(wavegrid.png);
}

.ol-scale-line-inner {
    border-bottom: 1px solid black;
    text-align: center;
}
