html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
}

.banner {
    position: relative;
    height: 130px;
    background-color: #b94a48;
}

.banner .navbar {
    background-color: transparent;
}

.content, .left {
    position: absolute;
    top: 130px;
    bottom: 0;
}

.content {
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

body.left-open .content {
    left: 300px;
}

.left {
    width: 300px;
}
/*
.left .nav-tabs > li {
    width: 33.33333333333333%;
}
*/
.left .tab-content {
    padding: 15px;
}

.themes {
    width: 640px;
}
.themes .col {
    padding: 10px;
}
.themes .row {
    margin: 0;
}
.themes .thumbnail:hover {
    text-decoration: none;
}
.themes .thumbnail .caption {
    padding: 4px 0 0 0;
    text-align: center;
    font-size: 80%;
}


.content .navbar {
    margin-bottom: 0;
}

.map {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    background-image: url(wavegrid.png);
}

.map .map-control {
    position: absolute;
    z-index: 900;
}

.ol-zoom {
    left: 15px;
    top: 15px;
}

.ol-location {
    right: 15px;
    top: 15px;
}

.navbar-absolute-top, .navbar-absolute-bottom {
    position: absolute;
    right: 0;
    left: 0;
}

.navbar-absolute-top {
    top: 0;
}

.navbar-absolute-bottom {
    bottom: 0;
    margin-bottom: 0;
}
