<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>ol3 mobile app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link href="lib/bootstrap.css" rel="stylesheet" media="screen">
    <link href="typeahead.css" rel="stylesheet" media="screen">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="app.css" rel="stylesheet" media="screen">

    <script src="lib/ol.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="lib/typeahead.js/typeahead.min.js"></script>
    <script src="lib/fastclick.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="directive.js"></script>
    <script src="filter.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="Controller"
        ng-class="{'left-open': leftPanelIsOpen,'globe-open': globeIsOpen}">
    <div class="banner">
      <div class="navbar navbar-absolute-top">
        <form class="navbar-form pull-right">
          <button type="button" class="btn btn-default navbar-btn"><i class="icon-user"></i> login</button>
        </form>
      </div>
      <div class="navbar navbar-absolute-bottom">
        <form class="navbar-form pull-right">
          <div class="btn-group"  data-toggle="buttons-radio">
            <button type="button" class="btn btn-default navbar-btn">fr</button>
            <button type="button" class="btn btn-default navbar-btn">de</button>
            <button type="button" class="btn btn-default navbar-btn">it</button>
            <button type="button" class="btn btn-default navbar-btn active">en</button>
          </div>
        </form>
      </div>
    </div>

    <div class="left animate-all">
      <ul class="nav nav-bottom-border nav-justified">
        <!-- <ul class="nav nav-pills nav-stacked"> -->
        <li class="active"><a href="#foo" data-toggle="tab"><i class="icon-link"></i> Foo</a></li>
        <li><a href="#bar" data-toggle="tab"><i class="icon-adjust"></i> Bar</a></li>
        <li><a href="#print" data-toggle="tab"><i class="icon-print"></i> Print</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="foo">

          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Theme <span class="caret"></span></button>
            <div class="dropdown-menu themes">
              <div class="row">
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Cadastre</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Infrastructures</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Aménag. du territoire</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Signal. - stationnement</div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Cadastre</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Infrastructures</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Aménag. du territoire</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Signal. - stationnement</div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Cadastre</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Infrastructures</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Aménag. du territoire</div>
                  </a>
                </div>
                <div class="col col-lg-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/110x60" alt="">
                    <div class="caption">Signal. - stationnement</div>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>Raw denim you probably haven't heard of them jean
            shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor,
            williamsburg carles vegan helvetica. Reprehenderit
            butcher retro keffiyeh dreamcatcher synth. Cosby
            sweater eu banh mi, qui irure terry richardson ex
            squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher
            voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="bar">
          <p>Food truck fixie locavore, accusamus mcsweeney's
            marfa nulla single-origin coffee squid. Exercitation
            +1 labore velit, blog sartorial PBR leggings next
            level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo
            enim craft beer mlkshk aliquip jean shorts ullamco ad
            vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar
            helvetica VHS salvia yr, vero magna velit sapiente
            labore stumptown. Vegan fanny pack odio cillum wes
            anderson 8-bit, sustainable jean shorts beard ut DIY
            ethical culpa terry richardson biodiesel. Art party
            scenester stumptown, tumblr butcher vero sint qui
            sapiente accusamus tattooed echo park.</p>
          <p>Food truck fixie locavore, accusamus mcsweeney's
            marfa nulla single-origin coffee squid. Exercitation
            +1 labore velit, blog sartorial PBR leggings next
            level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo
            enim craft beer mlkshk aliquip jean shorts ullamco ad
            vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar
            helvetica VHS salvia yr, vero magna velit sapiente
            labore stumptown. Vegan fanny pack odio cillum wes
            anderson 8-bit, sustainable jean shorts beard ut DIY
            ethical culpa terry richardson biodiesel. Art party
            scenester stumptown, tumblr butcher vero sint qui
            sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="print">
          <form>
            <label>Title:</label>
            <input type="text" />
            <!-- <label>Comments:</label> -->
            <!-- <input type="text" /> -->
            <label>Paper size:</label>
            <div class="btn-group btn-block" data-toggle="buttons-radio">
              <label class="btn btn-primary active"><input type="radio" name="size">A4</label>
              <label class="btn btn-primary"><input type="radio" name="size">A3</label>
            </div>
            <label>Layout:</label>
            <div class="btn-group btn-block" data-toggle="buttons-radio">
              <label class="btn btn-primary"><input type="radio" name="size">portrait</label>
              <label class="btn btn-primary active"><input type="radio" name="size">landscape</label>
            </div>

            <div style="margin-top: 20px;"> <!-- FIXME -->
              <button type="submit" class="btn btn-default">Print</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="content animate-all">
      <div class="navbar navbar-absolute-top">
        <div class="nav navbar-nav pull-left">
          <button class="btn navbar-btn active" data-toggle="button" ng-click="leftPanelIsOpen = !leftPanelIsOpen">
            <i class="icon-reorder"></i>
          </button>
        </div>
        <div class="nav navbar-nav pull-right">
          <button class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <i class="icon-ellipsis-vertical"></i>
          </button>
        </div>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">hidden</a></li>
            <li><a href="#">if</a></li>
            <li><a href="#">too</a></li>
            <li><a href="#">small</a></li>
          </ul>
          <form class="navbar-form pull-left">
            <input class="animate-all app-search" type="search" placeholder="Search"
                   app-search
                   app-search-result="searchResult">
          </form>
          <div class="nav navbar-nav pull-right">
            <!-- <button class="btn navbar-btn"><i class="icon-link"></i></button> -->
            <div class="btn-group">
              <button class="btn navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon-link"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Action</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu pull-left"><a href="#">Share this map</a>
                  <ul  class="dropdown-menu">
                    <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="icon-facebook-sign"></i> facebook</a></li>
                    <li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
                    <li><a href="#"><i class="icon-google-plus-sign"></i> Google+</a></li>
                  </ul>
              </ul>
            </div>
            <button class="btn navbar-btn" data-toggle="button" ng-click="globeIsOpen = !globeIsOpen"><i class="icon-globe"></i></button>
          </div>
        </div>
      </div>

      <div class="map animate-all"
           app-map="map"
           app-map-view-center="searchResult|transformCoord:'EPSG:4326':'EPSG:3857'">

        <div class="btn-group-vertical map-control ol-zoom">
          <button class="btn btn-primary"><i class="icon-plus"></i></button>
          <button class="btn btn-primary"><i class="icon-minus"></i></button>
        </div>
        <button class="btn btn-primary map-control ol-location"><i class="icon-location-arrow"></i></button>
      </div>
      <div class="globe animate-all" id="globe">
        <i class="icon-globe"></i>
      </div>

      <div class="navbar navbar-absolute-bottom">
        <ul class="nav navbar-nav">
          <li><a href="#">this</a></li>
          <li><a href="#">is</a></li>
          <li><a href="#">the</a></li>
          <li><a href="#">bottom</a></li>
          <li><a href="#">toolbar</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <!-- <li><button class="btn navbar-btn" data-toggle="modal" data-target="#attribution">Attribution</button></li> -->
          <li><button class="btn navbar-btn" data-toggle="modal" data-target="#attribution"><i class="icon-question"></i></button></li>
        </ul>
      </div>
    </div>

    <div id="attribution" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Attribution</h4>
          </div>
          <div class="modal-body">
            <span id="ol-attribution"></span>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(window).load(function() {
        FastClick.attach(document.body);
      });

      $('.content, .map, .globe').on('transitionend webkitTransitionEnd', function() {
        // FIXME this should go elsewhere
        //map.updateSize();
      });

    </script>

  </body>
</html>
